#map {
  height: 80vh;
  margin: 6.5vh 0 1vh;
  width: 40vw;
}

.toggle-btn {
  background-color: #f4a460;
  color: white;
}

.toggle-btn:hover {
  background-color: #d2691e;
  color: white;
}

@media only screen and (max-width: 800px) {
  #map {
    width: 80vw;
    margin: 0 10vw;
  }

  #toggle {
    width: 80vw;
    margin: 5vh auto 0;
  }

  #toggle > button {
    margin: 0;
  }
}
