#movementContainer {
  width: 40vw;
  margin: 5vh 2.5vw 2.5vh;
}

#movementList {
  max-height: 75vh;
  overflow-y: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 10px;
}

.title {
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  margin: 0 -25px;
}

.btn-group > button {
  margin: 25px;
  border-radius: 0.25rem !important;
}

.update-btn {
  background: #4682b4;
}

.delete-btn {
  background: #f08080;
}

.add-btn {
  background: #3cb371;
}

@media only screen and (max-width: 800px) {
  #movementContainer {
    width: 80vw;
    margin: 5vh 10vw;
  }
}
